body {
height: 100%;
}
.tumble1999-max-width {
	max-width: 900px;
	width: 100%;
	margin: auto;
}

img.article-image {
    width: 100%;
    height: auto;
}
.post-container {
	width: 100%;
}

.mdl-card__supporting-text {
	width: initial;
}

.user > * {
	float: left;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    margin-right: 16px;
}

.user-info, .comment {
	display: flex;
	flex-direction: column;
}

.share, .share > * {
	float: right;
}


.comments {
	background-color: #EEE;
}

.comment__answers {
	margin-left: 10%;
}

footer {
	z-index: 100;
}

.forestry {
	padding-top: 70px
}

.download {
margin: 25px 0;
}

.download > * {
	float: left;
}

.download-image {
    width: 32px;
    height: 32px;
    //border-radius: 24px;
    //margin-right: 16px;
}

.download-info {
	display: flex;
	flex-direction: column;
}

.social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png')
}

.social-btn__github {
    background-image: url('github_white_24.svg');
    width: 22px;
    height: 22px
}

.social-btn__gplus {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png')
}
