.tumble1999-max-width {
	max-width: 900px;
	width: 100%;
	margin: auto;
}


.post-container {
	width: 100%;
}

.user > * {
	float: left;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    margin-right: 16px;
}

.user-info, .comment {
	display: flex;
	flex-direction: column;
}

.share, .share > * {
	float: right;
}

.comments {
	background-color: #EEE;
}

.comment__answers {
	margin-left: 10%; 
}

footer {
	z-index: 100;
}

.forestry {
	padding-top: 70px
}
