---
layout: tumble1999-width
title: Projects
---
{% for project in site.projects %}
{% capture project_type %}{{ project.layout | remove_first: 'project/' }}{% endcapture %}
{% unless project_type == project.layout %}
{% if project_types %}
{% assign project_types = project_types | append: ':' | append: project.layout %}
{% else %}
{% assign project_types = project.layout %}
{% endif %}
{% endunless %}
{% endfor %}
{% assign project_types = project_types | split:':' | uniq %}

<h1 class="page-heading">Projects</h1>
{% for project_type in project_types %}
<h2> {{ project_type | remove_first: 'project/' | capitalize }}</h2>
<div class="mdl-grid">
{% assign projects = site.projects | where: "layout",project_type %}
{% for project in projects limit: 6 %}
{% include card-project.html project=project %}
{% else %}
{% endfor %}
</div>

{% else %}
No projects.
{% endfor %}
