/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 * 
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

main {
	color: map.get($colors, "white");
	.container {

		display: flex;
		flex-flow: column;
		gap: #{$margin}px;
	}
}

.page-section {
	// min-height: 50vh;
	width: 100%;
	display: flex;
	flex-flow: column;

	& > .list,
	& > .swipy-list {

		& > * {
			background-color: map.get($colors, "blue");
			color: map.get($colors, "white");
			padding: #{$padding}px;
		}
	}

	&> .bean {
		margin-left: auto;
	}
}

.list,
.swipy-list {
	display: flex;
	gap: #{$margin}px;
	list-style: none;

	&.block {
		h3 {
			margin-top: 0;
		}
	}

	&.vertical {
		flex-flow: column;

		& > * {
			width: 100%;
		}
		& .img-container {
			max-width: 20%;
			height: 100%;
			margin-right: #{$margin}px;
			float: left;
		}
  
	}

	& > *{
		// margin-right: #{$margin}px;
		// margin-bottom: #{$margin}px;
		flex-grow: 1;
	}

	& .img-container {
		margin-bottom: #{$margin}px;
	}
}

.list {
	flex-wrap: wrap;
}

.swipy-list {
	overflow: hidden;
	& > * {
		width: 100%;
		flex-shrink: 0;
	}
}


.card {
	width: 100%;
	background-color: map.get($colors, "blue");
	color: map.get($colors, "white");
	padding: #{$padding}px;


	& .img-container {
		max-width: 20%;
		height: 100%;
		margin-right: #{$margin}px;
		float: left;
	}
}

.project-meta {
	&>* {
		flex-grow: 0;
	}
}