/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 * 
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */


.card {
	background-color: map.get($colors, "blue");
	color: map.get($colors, "white");
	padding: #{$padding}px;
}

div.card {
		display: flex;
		gap: #{$margin}px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			display: inline;
		}

		.item-info {
			display: flex;
			flex-flow: column;
			gap: #{$margin}px;
		}
}
