# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create7 any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Tumble
description: > # this means to ignore newlines until "baseurl:"
  My Github Website
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://tumble1999.github.io" # the base hostname & protocol for your site, e.g. http://example.com
repository: tumble1999/tumble1999.github.io

logo: /favicon.gif

twitter:
  username: tumble1999
  
social:
  name: Cameron Trow
  links:
    - https://twitter.com/tumble1999
    - https://www.linkedin.com/in/CameronTrow
    - https://github.com/tumble1999

webmaster_verifications:
  google: 1234
  bing: 1234
  alexa: 1234
  yandex: 1234

permalink: pretty
production: true

collections:
 projects:
  output: true
 unity:

plugins:
   - jekyll-mentions
   - jemoji
   - jekyll-redirect-from
   - jekyll-sitemap
   - jekyll-feed
   - jekyll-seo-tag



defaults:
  - scope:
      path: ""
    values:
      image: /favicon.gif
      layout: basic
      featured: false
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      category: []
      author: ""
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      category: ""
      tags: []
      author: ""
      excerpt: >
      image:
  - scope:
      path: ""
      type: projects
    values:
      layout: project
      category: ""
      tags: []
      author: ""
      excerpt: >
      image:
  - scope:
      path: "github"
      type: project
    values:
      layout: project/github
      user: tumble1999
      repo:
  - scope:
      path: "collage"
      type: projects
    values:
      layout: project/collage
      category: ""
      tags: []
      author: ""
      excerpt: >
      image:
  - scope:
      path: "university"
      type: projects
    values:
      layout: project/university
      category: ""
      tags: []
      author: ""
      excerpt: >
      image:
  - scope:
      path: "self"
      type: projects
    values:
      layout: project/self
      category: ""
      tags: []
      author: ""
      excerpt: >
      download-link: ""
      website: ""
      image:

# Build settings
markdown: kramdown
# theme: minima

kramdown:
  # Enable GitHub Flavored Markdown (fenced code blocks)
  input: GFM
  # Disable auto-generated ID's for headings
  auto_ids: false

excludes:
  - lib
  - Gemfile
  - Gemfile.lock
  - node_modules
  - bower.json
  - "*.sh"
  - README.md
  - gulffile.js
  - package.json
  - vendor


# STATICMAN
staticman:
  allowedFields: ["name", "message", "email", "url", "reply"]
  branch: master
  commitMessage: "New Comment"
  generatedFields:
    date:
      type: date
      options:
        format: "timestamp-seconds"
  moderation: false
  filename: "entry{@timestamp}"
  format: yml
  path: "_data/comments"
  requiredFields: ["name", "message", "url"]
