---
layout: tumble1999-width
title: Authors
---
{% for item in site.documents %}
{% if item.author %}
	{% unless item.author == "" %}
		{% if authors %}
			{% assign authors=authors | push: item.author %}
		{% else %}
			{% assign authors=item.author | split:"," %}
		{% endif %}
	{% endunless %}
{% endif %}
{% endfor %}

{% if authors %}
	{% assign authors=authors | sort %}
	{% assign authors=authors | uniq %}
<div class="mdl-card mdl-shadow--4dp post-container authors-all">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text post-title">{{ page.title }}</h2>
	</div>
	<div class="mdl-card__supporting-text post-content">
		<ul>
		{% for author in authors %}
		<li><a href="{{ site.url }}{{ page.url }}?a={{ author }}">{{ author }}</a></li>
		{% endfor %}
			</ul>
	</div>
</div>

{% for author in authors %}


<div class="authors-{{ author }}">

  <h1 class="page-heading">Posts by {{ author }}</h1>

    {% for item in site.documents %}
	{% if item.author == author %}
       <div class="mdl-card mdl-shadow--4dp post-container">


          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text post-title"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></h2>
          </div>
          <div class="mdl-card__supporting-text post-meta">
            {% include user-card.html author=author date=item.date %}

            <div class="mdl-layout-spacer"></div>

          </div>
          <div class="mdl-card__supporting-text post-content">
           {{ item.content | strip_html | truncatewords: 50 }}
          </div>

      </div>
	<br>
	<br>
	{% endif %}
    {% endfor %}

</div>

{% endfor %}


<script>
	$(function() {
	$(".authors-all").hide();
	{% for author in authors %}
	$(".authors-{{ author }}").hide();
	{% endfor %}
	authorQuery = getQueryVariable('a');
	{% for author in authors %}
	{% if forloop.first %}
	//if (author=="{{ author }}") {
	//$('.authors-{{ author }}').show();
	//} {% else %} //else if (author=="{{ author }}") {
	//	$('.authors-{{ author }}').show();
	//}{% endif %}{% endfor %} else {
	//	$('.authors-all').show();
	//}

	if ( authorQuery ) {
		$(".authors-" + authorQuery).show();
	} else {
		$('.authors-all').show();
	}
	});
function getQueryVariable(variable) {
     var query = window.location.search.substring(1);
     var vars = query.split('&');

     for (var i = 0; i < vars.length; i++) {
       var pair = vars[i].split('=');

       if (pair[0] === variable) {
         return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
       }
     }
   }
</script>
{% else %}

<div class="mdl-card mdl-shadow--4dp post-container">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text post-title">{{ page.title }}</h2>
	</div>
	<div class="mdl-card__supporting-text post-content">
		There Are no authors
	</div>
</div>
{% endif %}
