---
layout: basic
title: face
---
{% for item in site.pages %}
{% if item.author %}
{% assign authors=authors | push: item.author %}
{% endif %}
{% endfor %}
{% for item in site.posts %}
{% if item.author %}
{% assign authors=authors | push: item.author %}
{% endif %}
{% endfor %}
{% for item in site.documents %}
{% if item.author %}
{% assign authors=authors | push: item.author %}
{% endif %}
{% endfor %}
{% assign authors=authors | uniq | sort %}

<script>
var authors = {{ authors | jsonify }}
</script>
