<div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
  {% if include.project.image %}{% unless include.project.image == site.logo %}<div class="mdl-card__media">
      <img class="article-image" src="{{ include.project.image }}" border="0" alt="">
  </div>{% endunless %}{% endif %}
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ include.project.title }}</h2>
  </div>
  <div class="mdl-card__supporting-text no-bottom-padding">
      <span><strong>{{ include.project.collection | capitalize }}</strong> - Posted on {{ include.project.date | date: "%x" }}</span>
  </div>
  {% if include.project.excerpt %}<div class="mdl-card__supporting-text">
    {{ include.project.excerpt | default: include.project.content | strip_html | truncatewords: 50 }}
  </div>{% endif %}
  <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{include.project.url}}" data-upgraded=",MaterialButton,MaterialRipple">See Project<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
  </div>
</div>
