{% unless page.comments==false %}
{% include new-comment.html %}
{% if site.data.comments %}
{% assign comments = site.data.comments | sort %}
{% for comment in comments reversed %}
{% assign commentData = comment[1] %}
{% unless commentData.reply %}
{% if commentData.url==page.url %}
<div class="comment mdl-color-text--grey-700">
	<header class="comment__header">
		<div class="user githubAuthor" data-user="{{ commentData.name | escape }}">
			<img src="https://github.com/identicons/{{{ commentData.name | escape }}.png" class="user-avatar userImg" alt="">
			<div class="user-info">
				<span><a href="http://github.com/{{ commentData.name | escape }}" class="userName">{{ commentData.name | escape }}</a></span>
				<span>{{ commentData.date | date: "%b %-d, %Y" }}</span>
			</div>
		</div>
	</header>
	<div class="comment__text">
		{{ commentData.message }}
	</div>
	<div class="share">
		{% include new-comment.html reply=commentData._id %}
	</div>
	<div class="comment__answers">
		{% for commentReply in comments reversed %}
		{% assign commentReplyData = commentReply[1] %}
		{% if commentReplyData.url==page.url %}
		{% if commentReplyData.reply %}
		{% if commentReplyData.reply==commentData._id %}
		<div class="comment mdl-color-text--grey-700">
			<header class="comment__header">
				<div class="user githubAuthor" data-user="{{ commentReplyData.name | escape }}">
					<img src="https://github.com/identicons/{{{ commentReplyData.name | escape }}.png" class="user-avatar userImg" alt="">
					<div class="user-info">
						<span><a href="http://github.com/{{ commentReplyData.name | escape }}" class="userName">{{ commentReplyData.name | escape }}</a></span>
						<span>{{ commentReplyData.date  | date: "%b %-d, %Y" }}</span>
					</div>
				</div>
				
			</header>
			<div class="comment__text">
				{{ commentReplyData.message }}
			</div>
		</div>
		{% endif %}
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endunless %}
{% endfor %}
{% endif %}
{% endunless %}
