<footer class="mdl-mega-footer">
   
   <!-- MDL footer Middle Section Container -->
  <div class="mdl-mega-footer__top-section">

    <!-- MDL Footer Drop Down Section -->
    <!--<div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Tutorials</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">jQuery</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#">Java</a></li>
      </ul>
    </div>-->
    </div>

    <!-- MDL Footer Bottom Section -->
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__left-section">
					<div class="mdl-logo">{{ site.title }}</div>
					<ul class="mdl-mini-footer__link-list">
						<li><a href="https://github.com/tumble1999/tumble1999.github.io/blob/master/license.md">Licence</a></li>
						<li><a href="">Privacy & Terms</a></li>
					</ul>
		</div>
    <div class="mdl-mega-footer__right-section">
					Last Updated: {{ site.time | date: '%c' }}
				</div>
  </div>
	<div class="mdl-mega-footer__bottom-section">
		Last Updated: {{ site.time | date: '%c' }}
	</div>
  

</footer>
