<footer class="mdl-mega-footer">
	
  <div class="mdl-mega-footer__top-section">
	  {% if site.social.twitter %}<button class="mdl-mega-footer__social-btn">
		  <a href="http://twitter.com/{{ site.social.twitter }}" class="social-btn social-btn__twitter" role="button" title="Twitter"><i class="fab fa-twitter"></i></a>
	  </button>{% endif %}
	  {% if site.social.github %}<button class="mdl-mega-footer__social-btn">
		  <a href="http://github.com/{{ site.social.github }}" class="social-btn social-btn__github" role="button" title="Github"><i class="fab fa-github"></i></a>
	  </button>{% endif %}
	  {% if site.social.linkedin %}<button class="mdl-mega-footer__social-btn">
		  <a href="http://uk.linkedin.com/in/{{ site.social.linkedin }}" class="social-btn social-btn__linkedin" role="button" title="Linkedin"><i class="fab fa-linkedin"></i></a>
	  </button>{% endif %}
	  {% if site.social.youtube %}<button class="mdl-mega-footer__social-btn">
		  <a href="http://youtube.com/{{ site.social.youtube }}" class="social-btn social-btn__youtube" role="button" title="YouTube"><i class="fab fa-youtube"></i></a>
	  </button>{% endif %}
	  {% if site.social.artstation %}<button class="mdl-mega-footer__social-btn">
		  <a href="http://artstation.com/{{ site.social.artstation }}" class="social-btn social-btn__artstation" role="button" title="ArtStation"><i class="fab fa-artstation"></i></a>
	  </button>{% endif %}
	  {% if site.social.codepen %}<button class="mdl-mega-footer__social-btn">
		  <a href="http://codepen.io/{{ site.social.codepen }}" class="social-btn social-btn__codepen" role="button" title="codepen"><i class="fab fa-codepen"></i></a>
	  </button>{% endif %}
	  </div>
   
   <!-- MDL footer Middle Section Container -->
  <div class="mdl-mega-footer__middle-section">

    <!-- MDL Footer Drop Down Section -->
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Main</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="https://10trowc.wordpress.com/">Old News</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Projects</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/projects/collage">College Projects/a></li>
        <li><a href="/projects/github/">GitHub Projects</a></li>
        <li><a href="/projects/self">Self Projects</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">I wonder if i can make</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/projects/github/tumblenet-css/">CSS Framework/a></li>
      </ul>
    </div>
    </div>

    <!-- MDL Footer Bottom Section -->
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-mega-footer__left-section">
					<div class="mdl-logo">{{ site.title }}</div>
					<ul class="mdl-mini-footer__link-list">
						<li><a href="https://github.com/tumble1999/tumble1999.github.io/blob/master/license.md">Licence</a></li>
						<li><a href="">Privacy & Terms</a></li>
					</ul>
		</div>
    <div class="mdl-mega-footer__right-section">
					Last Updated: {{ site.time | date: '%c' }}
				</div>
  </div>
  

</footer>
