<head class="githubAuthor" data-user>
	{% for item in site.documents %}
	{% if item.author %}
		{% unless item.author == "" %}
			{% if authors %}
				{% assign authors=authors | push: item.author %}
			{% else %}
				{% assign authors=item.author | split:"," %}
			{% endif %}
		{% endunless %}
	{% endif %}
{% endfor %}

	{% if authors %}
		{% assign authors=authors | sort %}
		{% assign authors=authors | uniq %}
	<script>
		var _SITE_AUTHORS_ = {{ authors | jsonify }};
	</script>
	{% endif %}
	<script>
		var _PAGE_AUTHOR_ = "{{ page.author }}";
	</script>

	<!-- Site Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#FFC107">
	<link rel="icon" class="favicon" sizes="192x192" href="{{site.logo}}">
	 <!-- noindex -->
	 {% if page.noindex %}
	 <meta name="robots" content="noindex" />
	 {% endif %}

	<!-- Sylesheets -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/material.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/material.min.js"></script>
	<script src="/js/github.js"></script>
	<script src="/js/author.js"></script>
	<script src="/js/openDialog.js"></script>
	{% if page.url contains "/no-ie/" %}<script src="/js/no-ie.js"></script>
	{% else %}<script src="/js/ie.js"></script>
	{% endif %}
	<script src="/js/init.js"></script>

	{% capture seo %}
    {% seo %}
{% endcapture %}
<meta name="twitter:card" content="summary{% if page.image %}{% unless page.image == site.logo %}_large_image{% endunless %}{% endif %}">
{% if page.image %}{%if page.image == site.logo %}
{{ seo }}
{% else %}
{{ seo | replace: "summary", "summary_large_image" }}
{% endif %}
{% else %}
{{ seo }}
{% endif %}
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5023127821408887",
          enable_page_level_ads: true
     });
</script>
	</head>
