{% assign mode=include.mode %}
{% for item in include.items limit=(include.limit|default:(include.items|size)) %}
{% if forloop.first %}
<h1>{{ include.name }}</h1>
<div class="mdl-grid">
{% endif %}
{% unless item.featured=="true" %}
{% if item.collection==site.projects.label %}{% assign mode="2" %}{% endif %}
{% endunless %}


{% case mode %}
  {% when 1 %}
  FEATURED
    {% include card-featured.html item=item %}
  {% when 2 %}
  PROJECT
    {% include card-project.html project=item %}
  {% else %}
  POST
    {% include card-post.html post=item %}
{% endcase %}

{% if forloop.last %}
</div>
{% endif %}
{% endfor %}
