<{{include.container | default:"div" }}>
	{% if include.item.image %}
		<div class="img-container">
			<img src="{{ include.item.image }}" alt="{{ include.item.image }}">
		</div>
	{% endif %}
	
	{% if include.bean %}
	{% if include.item.collection %}
		<a href="{{site.url}}/{{ include.item.collection }}" class="bean">
			{{ include.item.collection }}
		</a>
	{% endif %}
	{% endif %}
	{% if include.item.title %}
		<{{include.header | default:"h3" }}>
			{% if include.item.url %}
				<a href="{{site.url}}{{item.url}}">
			{% endif %}
			{{ include.item.title }}
			{% if include.item.url %}
				</a>
			{% endif %}
		</{{ include.header | default:"h3" }}>
	{% endif %}
	{% if include.item.summary %}<p>{{ include.item.summary }}</p>{% endif %}

	{% assign hasDate = false %}
	{% if include.item.date %}
		{% capture currentDate %}{{ 'now' | date: '%s'}}{% endcapture %}
		{% capture itemDate %}{{include.item.date | date: '%s' }}{% endcapture %}
		{% if currentDate != itemDate %}
			{% assign hasDate = true %}
		{% endif %}
	{% endif %}

	{% if include.meta and (hasDate or include.item.links) %}
		<!-- META -->
		<div class="project-meta list">

		{% if hasDate %}
			<!-- DATE -->
			<div class="project-date">
			{% if include.item.date-label %} 
				{{ include.item.date-label }}:
			{% endif %}
			{{ include.item.date | date:site.date-format }}
			</div>
		{% endif %}

		{% if include.item.links %}
		<!-- LINKS -->
		<div class="project-links list">
			{% for link in include.item.links %}
			<a href="{{link.href}}">{{link.title}}</a>
			{% else %}
			<em>No Links</em>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	{% endif %}

</{{include.header | default:"div" }}>