{% unless page.comments==false %}
<form class="comment-new js-form form" method="POST" action="https://api.staticman.net/v1/entry/tumble1999/tumble1999.github.io/master">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
  <input type="hidden" name="options[config]" value="_config.yml">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  {% if include.reply-to %}<input name="fields[reply-to]" type="hidden" value="{{ include.reply-to }}">{% endif %}
  <input name="fields[url]" type="hidden" value="{{ page.url }}">
  
  
  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="comment[name]" type="text" id="comment[name]">
      <label class="mdl-textfield__label" for="comment[name]">Name</label>
    </div>
  </fieldset>
    
  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="comment[email]" type="text" id="comment[email]">
      <label class="mdl-textfield__label" for="comment[email]" >Email</label>
    </div>
  </fieldset>
    
  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <textarea class="mdl-textfield__input" type="text" rows="3" name="comment[message]" id="comment[message]"></textarea>
      <label class="mdl-textfield__label" for="comment[message]">Message</label>
    </div>
  </fieldset>
    
  <fieldset class="field-group">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" type="submit">
      <i class="material-icons">comment</i>
    </button>
  </fieldset>
</form>



{% endunless %}
