{% unless page.comments==false %}
<form method="POST" action="https://api.staticman.net/v1/entry/tumble1999/tumble1999.github.io/master">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
  <input type="hidden" name="options[config]" value="_config.yml">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="fields[url]" type="hidden" value="{{ page.url }}">
  <label>Name<input name="fields[name]" type="text"></label>
  <label>Email<input name="fields[email]" type="email"></label>
  <label>Message<textarea name="fields[message]"></textarea></label>
  
  <button type="submit">Go!</button>
</form>
