/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 *
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

header {
  height: 58px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;

  .site-header {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 0;
    nav {
      @extend %flist;
      display: none;
      height: 58px;
      gap: 0;
      a {
        flex: 1;
        @extend %bg-yellow-hover;
        display: grid;
        //gap: 5px;
        //@extend %center-items;
        place-items: center;
        grid-row-gap: 0;
        place-content: center;
        grid-template-rows: 24px auto;
        padding-left: 6px;
        padding-right: 6px;
        height: 100%;
        &.active {
          @extend %bg-dark-yellow;
        }
      }
      .nav-icon {
        font-size: 24px;
      }
    }
  }
}
