/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 *
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

footer {
  @extend %center-items;
  display: none;

  a,
  a:visited {
    font-weight: bold;
    display: inline;
  }
}
.mobile-nav {
  position: fixed;
  bottom: 0;
  height: 56px;
  width: 100%;
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  @extend %flist;
  gap: 0;
  a {
    &,
    &:focus,
    &:visited {
      flex: 1;
      display: grid;
      place-items: center;
      @extend %center-items;
      @extend %bg-yellow-hover;
      .nav-icon {
        font-size: 24px;
      }
      &.active {
        @extend %bg-dark-yellow;
      }
    }
  }
}
