/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 * 
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

footer {
	flex-shrink: 0;
	flex-basis: 56px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	text-align: center;
	margin-top: auto;

	a,a:visited {
		font-weight: bold;
		display: inline;
	}
}
   