---
layout: basic
---
{% if page.image %}
{% unless page.image == site.logo %}
<style>
.project-title-{{ page.title | slugify }} {
  color: #fff;
  background: url('{{ page.image }}') center / cover;
	height:400px;
 text-shadow: 0 0 20px #000, 0 0 20px #000;
}
	.post-subtitle {
		text-align: right;
		webkit-align-self: flex-end;
   		align-self: flex-end;
	}
</style>
{% endunless %}
{% endif %}
<div class="project-title-{{ page.title | slugify }} mdl-card__title">
	<h2 class="mdl-card__title-text post-title">{{ page.title }}</h2>
	<div class="mdl-layout-spacer"></div>
	<h3 class="post-subtitle">{{page.excerpt}}</h3>
</div>
<div class="mdl-card__supporting-text post-meta">
	{% include user-card.html user=page.author date=page.date %}
	{% include share.html %}

</div>
<div class="mdl-card__supporting-text post-content">
  {% if page.download-link %}{% include download.html url=page.download-link type=external %}<br><br>{% endif %}
	{{ content }}
</div>

<div class="mdl-card__supporting-text comments">
	<a name="comments"></a>

{% include comments.html %}
</div>
