---
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{site.title}}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{site.url}}/assets/css/tumble.min.css">
</head>

<body>
	<header>
		<div class="container">
			<a href="{{site.url}}">
				<h3>{{site.title}}</h3>
			</a>
		</div>
	</header>
	<main>
		<div class="container">
			{{content}}
		</div>
	</main>
	<footer>
		<p>Cameron Trow
			<script>document.write(new Date().getFullYear());</script> - <a
				href="https://github.com/tumble1999/tumble1999.github.io/blob/master/LICENSE">GPLv3</a> - <a
				href="https://10trowc.wordpress.com/">Old Site</a>
		</p>
	</footer>

	<!-- JS -->
	<script src="{{site.url}}/assets/js/tumble.min.js"></script>
</body>

</html>