---
layout: null
---
<!doctype html>
<html>
	{% include head.html %}

	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout-icon"></div>
				<div class="mdl-layout__header-row">
					<a class="mdl-button mdl-js-button mdl-button--icon" href="/">
					  <i class="material-icons">home</i>
					</a>
					<span class="mdl-layout__title">{{ site.title }}</span>
					
			{% unless page.url contains "/no-ie/" %}
					<div class="mdl-layout-spacer"></div>
					
						
					<form action="/search" method="get" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
											mdl-textfield--floating-label mdl-textfield--align-right">
						<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
							<i class="material-icons">search</i>
						</label>
						<div class="mdl-textfield__expandable-holder">
							<input class="mdl-textfield__input" type="text" name="q" id="fixed-header-drawer-exp">
						</div>
					</form>
					<!-- Right aligned menu below button -->
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect githubAuthor" id="user-logged-in" data-user>
						<img src class="user-avatar userImg" alt="">
					</button>
					<button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="user-logged-out">
						<i class="material-icons">account_circle</i>
					</button>

					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="user-logged-out" >
					  <a href="/login?ref={{ site.url }}{{ page.url }}" class="mdl-menu__item">Login</a>
					</ul>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="user-logged-in">
						<a href class="loggedInUserProfile mdl-menu__item">Profile</a>
						<a href="/admin" class="user-admin-only mdl-menu__item">Admin</a>
						<a href="/logout" class="mdl-menu__item">Logout</a>
					</ul>
					{% endunless %}
				</div>
		</header>
			
		{% unless page.url contains "/no-ie/" %}
			<div class="mdl-layout__drawer">
				<span class="mdl-layout__title">{{ site.title}}</span>
				<nav class="mdl-navigation">
					{% for menu in site.data.menus %}
					{% if menu.name == "Navbar" %}
					{% for item in menu.items %}
					<a class="mdl-navigation__link" href="{{ item.href }}">{{ item.name }}</a>
					{% endfor %}
					{% endif %}
					{% endfor %}
				</nav>
			</div>
		{% endunless %}
			<main class="mdl-layout__content">
					
					{{ content }}
			</main>
		
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__left-section">
					<div class="mdl-logo">{{ site.title }}</div>
					<ul class="mdl-mini-footer__link-list">
						<li><a href="/LICENSE">Licence</a></li>
						<li><a href="#">Privacy & Terms</a></li>
					</ul>
				</div>
			</footer>
		</div>
		{{ page.outside-content }}
	</body>
</html>
