---
layout: default
---
{% assign content = page.content | strip_newlines %}



{% if page.header %}
	<!-- HEADER -->
	<div class="page-section">
		{% if page.collection %}
			<a href="{{site.url}}/{{ page.collection }}" class="bean">
				{{ page.collection }}
			</a>
		{% endif %}
		<!-- <h1>{{page.title}}</h1> -->
		<div class="card">

			{% if page.image %}
			<div class="img-container">
				<img src="{{ page.image }}" alt="{{ page.image }}">
			</div>
			{% endif %}
			{% if page.title %}
				<h1>
					{{ page.title }}
				</h1>
			{% endif %}
			{% if page.summary %}
				<p>{{ page.summary }}</p>
			{% endif %}
			
			{% assign hasDate = false %}
			{% if page.date %}
				{% capture currentDate %}{{ 'now' | date: '%s'}}{% endcapture %}
				{% capture itemDate %}{{page.date | date: '%s' }}{% endcapture %}
				{% if currentDate != itemDate %}
					{% assign hasDate = true %}
				{% endif %}
			{% endif %}

			{% if hasDate or page.links %}
				<!-- META -->
				<div class="project-meta list">

				{% if hasDate %}
					<!-- DATE -->
					<div class="project-date">
					{% if page.date-label %} 
						{{ page.date-label }}:
					{% endif %}
					{{ page.date | date_to_long_string }}
					</div>
				{% endif %}

				{% if page.links %}
				<!-- LINKS -->
				<div class="project-links list">
					{% for link in page.links %}
					<a href="{{link.href}}">{{link.title}}</a>
					{% else %}
					<em>No Links</em>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>


	{% if page.experience %}
	<!-- EXPERIENCE -->
	<div class="page-section">
		<div class="list">
			{% if page.experience.languages %}
				<div>
					<h3>Languages</h3>
					{% include list.html collection="languages" filter="page.experience.languages contains item.slug" %}
				</div>
			{% endif %}
			{% if page.experience.libraries %}
				<div>
					<h3>Libraries</h3>
					{% include list.html collection="libraries" filter="page.experience.libraries contains item.slug" %}
				</div>
			{% endif %}
			{% if page.experience.platforms %}
				<div>
					<h3>Platforms</h3>
					{% include list.html collection="platforms" filter="page.experience.platforms contains item.slug" %}
				</div>
			{% endif %}
			{% if page.experience.education %}
				<div>
					<h3>Education</h3>
					{% include list.html collection="education" filter="page.experience.education contains item.slug" %}
				</div>
			{% endif %}
			{% if page.experience.communities %}
				<div>
					<h3>Communities</h3>
					{% include list.html collection="communities" filter="page.experience.communities contains item.slug" %}
				</div>
			{% endif %}
			{% if page.experience.jobs %}
				<div>
					<h3>Jobs</h3>
					{% include list.html collection="jobs" filter="page.experience.jobs contains item.slug" %}
				</div>
			{% endif %}
		</div>
	</div>
	{% endif %}


{% if content != "" %}
<!-- CONTENT -->
	<div class="page-section">
		<div class="card">
{% endif %}
{% endif %}
	{{ content }}
{% if page.header %}
{% if content != "" %}
		</div>
	</div>
{% endif %}
{% endif %}

{% if page.list %}
<!-- LIST -->
<div class="page-section">
	{% unless page.collection=="lists" %}<h2>{{ page.list.collection | capitalize }}</h2>{% endunless %}
	<div class="list block">
		{% include list.html collection=page.list.collection filter=page.list.filter limit=page.list.limit meta=true %}
	</div>
</div>
{% endif %}