---
layout: basic
---
{% if page.image %}
{% unless page.image == site.logo %}
<style>
.page-title-{{ page.title | slugify }} {
  color: #fff;
  background: url('{{ page.image }}') center / cover;
	height:400px;
 text-shadow: 0 0 20px #000, 0 0 20px #000;
}
</style>
{% endunless %}
{% endif %}

<div class="page-title-{{ page.title | slugify }} mdl-card__title">
	<h2 class="mdl-card__title-text post-title">{{ page.title }}</h2>
</div>
<div class="mdl-card__supporting-text post-meta">
	{% include user-card.html user=page.author date=page.date %}

	<div class="mdl-layout-spacer"></div>

	{% include share.html %}

</div>
<div class="mdl-card__supporting-text post-content">
	{{ content }}
</div>

<div class="mdl-card__supporting-text comments">
	<a name="comments"></a>

{% include comments.html %}
</div>
