---
layout: page
---
<head>
<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.1/showdown.min.js"></script>
<script src="/js/projects.js"></script>
</head>
<div class="github" data-user="{{ page.user }}" data-repo="{{ page.repo }}">
<h1 class="projectTitle"></h1>
<p><span class="projectDescription"></span> | <a class="projectWebsite">Website</a> | <a class="projectGitHubURL">View On GitHub</a></p>
    <a class="projectLanguageURL"><span class="projectLanguage"></span></a> | 
   <a class="projectStarsURL">Stars: <span class="projectStars"></span></a> | 
  <a class="projectForksURL">Forks: <span class="projectForks"></span></a>
  <p>{{ content }}</p>
<div class="projectReadMe"></div>
</div>
