/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 * 
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

body {
	display: flex;
	flex-flow: column;
	min-height: 100%;
	background-color: map.get($colors, "black");
	gap: #{$margin}px;
	height: auto;
}
header,
footer {
	padding-left: 16px;
	padding-right: 16px;
	background-color: map.get($colors, "yellow");
	color: map.get($colors, "black");
	a,a:visited {
		color:  map.get($colors, "black");
	}
}

@import "header/all";
@import "main/all";
@import "footer/all";

/*
  TABLET
  */
@media (min-width: #{$mobile}px) {
	@import "main/tablet";
}

/* 
  DESKTOP
  */
@media (min-width: #{$tablet}px) {
	@import "main/desktop";
}
