/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 * 
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

body {
  display: grid;
  grid-template-rows: 56px auto 56px;
  @extend %gap;
  background-color: map.get($colors, "black");
  min-height: 100%;
  height: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header,
footer {
  padding-left: 16px;
  padding-right: 16px;
  @extend %bg-yellow;
  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      @extend %text-black;
    }
  }
}

@import "header/all";
@import "main/all";
@import "footer/all";

/*
  TABLET
  */
@media (min-width: #{$mobile}px) {
  @import "header/tablet";
  @import "main/tablet";
  @import "footer/tablet";
}

/* 
  DESKTOP
  */
@media (min-width: #{$tablet}px) {
  @import "header/desktop";
  @import "main/desktop";
}
