html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: relative;
  }
  
  body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: relative;
  }
  
  * {  
	&, &::before,
	&::after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  word-wrap: break-word;
	}
  }