/**
 * Author: Cameron Trow
 * License: GPL-3
 * Source Code: https://github.com/tumble1999/tumble1999.github.io
 * 
 * You may copy, distribute and modify the software as long as you
 * track changes/dates in source files. Any modifications to or
 * software including (via compiler) GPL-licensed code must also
 * be made available under the GPL along with build & install
 * instructions.
 */

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  @extend %hw100p;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  @extend %hw100p;
  position: relative;
}

* {
  &,
  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0;
  }
}
